.pokemonName {
    display:inline-block;
    margin: 5px;
    background-color: #90EE90;
    cursor: pointer
}

.pokemonName:hover {
    background-color:#64e764;
}

.pokemonName p {
    margin: 5px;
}

button {
    cursor:pointer;
}

#pokemonInfo {
    margin-top:10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: lightyellow;
}

#pokemonInfo ul{
    text-align:left;
    margin-left:60px;
}
#previous {
    float:left;
}
#next {
    float:right;
}
#navigationButtons {
    margin-top:10px;
}
h1 {
    text-align:center;
}